<div class="p-4 w-full mt-4 shadow-lg bg-slate-50">
  @if (activities$ | async; as activities) {
    @if (activities.length === 0) {
      <h1>No Items to Render</h1>
    } @else {
      <table class="w-full text-left table-auto divide-y">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Type</th>
            <th>DateStamp</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="divide-y">
          @for (activity of activities; track activity.ActivityId) {
            <tr>
              <td>{{ activity.Description }}</td>
              <td>
                <span class="p-2 my-4 rounded" appActivityType>{{ activity.ActivityType }}</span>
              </td>
              <td>{{ activity.DateStamp | date: 'short' }}</td>
              <td>
                <button
                  class="shadow-lg py-1 px-2 my-2 mr-2 outline text-red-400 bg-red-100 rounded"
                  (click)="deleteActivity(activity.ActivityId || 0)"
                >
                  Delete
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  }
</div>
